@{
	ViewBag.Title = "About";
}

<hgroup class="title">
	<h1>About.</h1>
	<h2>The expense manager</h2>
</hgroup>

<article>
	<p>
		Interview stage 3 for ToTal.
	</p>

	<p>
		Expense management online.
	</p>

	<p>
		Using RESTful API on top of a Data Stack and jQuey/Angular.js for the UI.
	</p>
</article>

<aside>
	<h3>Aside Title</h3>
	<p>
		Site map.
	</p>
	<ul>
		<li>@Html.ActionLink("Home", "Index", "Home")</li>
		<li>@Html.ActionLink("About", "About", "Home")</li>
		<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
	</ul>
</aside>