@{
	ViewBag.Title = "Contact";
}

<hgroup class="title">
	<h1>Contact.</h1>
	<h2>My contact information</h2>
</hgroup>

<section class="contact">
	<header>
		<h3>Name</h3>
	</header>
	<p>
		<img src="/Content/Images/Serge.jpg" style="border-radius: 50%; vertical-align: middle; margin-right: 10px;" />
		<span>Serge Ruiz</span>
	</p>
</section>

<section class="contact">
	<header>
		<h3>Phone</h3>
	</header>
	<p>
		<span class="label">Main:</span>
		<span>949.232.3323</span>
	</p>
</section>

<section class="contact">
	<header>
		<h3>Email</h3>
	</header>
	<p>
		<span class="label">Main:</span>
		<span><a href="mailto:sruiz@stanfordalumni.org">sruiz@stanfordalumni.org</a></span>
	</p>
</section>

<section class="contact">
	<header>
		<h3>Address</h3>
	</header>
	<p>
		2867 Broadway<br />
		Oakland, CA 94611
	</p>
</section>